*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

.calculator-grid {
    width: 20rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
}

#display {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    padding: 1rem;
    align-content: center;
}

#buttons {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

button {
    height: 25%;
    width: 25%;
    flex: 1 1 auto;
}